.header {
  padding: 90px 0 80px;
  background-image: url(../images/header-bg.png);
  text-align: center;

  margin: 0 auto;
}

.header div {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 40px;
}

.btn {
  width: 130px;
  height: 35.52px;
  background-color: #f0650d;
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 35.52px;
}
.btn:hover {
    background-color: #f58641;
    transition: 0.5s    ;
}
.grey-btn {
  background-color: #4b5a65;
}

.main {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  padding: 17px 10px 10px;
  
  margin: 0 auto;
}

.main div {
  height: 205px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: blue;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background-size: cover;
}
.main div:hover {
    transform: scale(0.99);
    transition: 0.5s;
    
}
.cool-glasses-first {
  grid-column: 1 / span 2;
  background-image: url(../images/box-1.png);
  
}
.cool-glasses-text a{
    color: #EE640D;
}
.cool-macbook-first {
  background-image: url(../images/box-1-2.png);
}
.cool-glasses-text {
  color: #ee640d;
}
.cool-imac-first {
  background-image: url(../images/box-1-3.png);
}
.cool-hacking-second {
  background-image: url(../images/box-2-1.png);
}
.cool-glasses-second {
  grid-column: 2 / span 2;
  background-image: url(../images/box-2-2.png);
}

.cool-hacking {
  height: auto !important;
  grid-area: 2 / 4 / 4 / auto;
  background-image: url(../images/box-2-3.png);
}

.cool-notebook {
  background-image: url(../images/box-3-1.png);
}

.cool-code {
  background-image: url(../images/box-3-2.png);
}

.cool-timer {
    background-image: url(../images/box-3-3.png);
}

a{
    text-decoration: none;
    color: #fff;
}