body {
  width: 800px;
  margin: 0 auto;
}

.main {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  position: fixed;
  right: 200px;
  bottom: 200px;
  background-color: white;
}
.main div {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    position: absolute;
}

.red {
background-color: red;
top: 50px;
left: 50px;
}

.green {
    background-color: rgb(0, 255, 13);
top: 70px;
left: 70px;
}
.yellow {
    background-color: rgb(238, 255, 0);
top: 100px;
left: 100px;
}