.aside {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

.aside__block {
  display: flex;
  flex-direction: column;
}

.aside__name {
  font-size: 32px;
  color: black;
  margin: 10px 30px;
  text-decoration: none;
}
.aside__navname {
  font-size: 25px;
  padding: 10px 30px;
  color: #4d4e53;
  border-top: 1px solid black;
  text-decoration: none;
}
.aside__navname:hover {
  color: rgb(175, 147, 147);
}
.main {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  font-family: 'Times New Roman', Times, serif;
}

.main__name {
  font-weight: 500;
  font-size: 38px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.main__justtext {
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 18px;
  color: #4d4e53;
}

.main__table {
  list-style-type: disc;
  margin-left: 50px;
  color: #4d4e53;
  font-size: 18px;
}
.main__table-set {
  margin-bottom: 15px;
  margin-top: 15px;
}
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.main__helptable {
    list-style: circle;
    margin-left: 50px;
}
.link {
    color: blue;
}