body {
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 1060px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px 45px 60px;
  box-shadow: 3px 0px 15px #dadada
  
}

.logo {
  width: 145px;
  height: 40px;
  display: block;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  background-color: #504f4f;
  overflow: auto;
  font-size: 0;
  margin-top: 40px;
  
}

.nav-menu li {
  border-right: 1px solid #838383;
  display: inline-block;
  font-size: 15px;
}

.nav-menu a {
  color: #fff;
  display: inline-block;
  height: 40px;
  padding: 0 40px;
  text-decoration: none;
  line-height: 40px;
}

.active {
  background-color: #434343;
}

.main {
  overflow: auto;
  margin-top: 40px;
}

.side-menu {
  width: 240px;
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.side-menu a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 20px;
}

.side-menu li {
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
}

.border-bottom {
    border-bottom: 1px solid #c7c7c7;
}

div.main ul.side-menu li a.activephones {
    padding: 15px 140px 16px 35px;
    background: #f9f9f9
    
}

.main-content {
  float: right;
  width: 675px;
}

.main-img {
  padding: 50px 0;
  text-align: center;
  border: 1px solid #c7c7c7;
}

.main-content p {
  margin: 40px 0 0 30px;
  text-align: justify;
}

.footer .nav-menu {
  background-color: #e1e1e1;
}

.footer .nav-menu li {
  border: none;
}

.footer .nav-menu a {
  color: #000;
} 

.footer ul.nav-menu li .underline {
    text-decoration: underline; 
}

.reserved-rights {
  float: right;
  line-height: 40px;
  margin-right: 20px;
}

