.header {
    height: 82px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .container {
      width: 100%;
      width: 1180px;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
    }
    .header_inner {
      display: flex;
    }
    .header__logo {
      display: flex;
      align-items: center;
      margin-left: 1%;
    }
  }
  
  .header__menu {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 781px;
    justify-content: center;
    .header__menu-set {
      display: flex;
      width: 603px;
      justify-content: space-between;
      &a {
        font-size: 16px;
        text-decoration: none;
      }
      &li {
        padding-right: 8px;
      }
    }
  }
  
  .phone {
    display: flex;
    align-items: center;
    opacity: 1;
  }
  
  .button {
    display: flex;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
    .button_set {
      width: 113px;
      height: 40px;
      border-radius: 100px;
      background: #3751ff;
      color: white;
      border: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }