
@media (max-width: 1240px ) {
    .container {
        max-width: 1000px;
    }
    .phone {
        width: 100%;
        justify-content: center;
    }
    .header__menu-set {
        justify-content: space-around;
    }
    

    

}
/* 1020 */
@media (max-width: 1020px ) {
       
}    

/*900 */
@media (max-width: 900px ) {
    
    .head_menu_set {
    width: 491px;
    }
    
}

/* 790 */
@media (max-width: 790px ) {
    
}    