.body {
  border: 1px solid rgb(107, 190, 121);
}
.header {
  background-color: rgb(107, 190, 121);
  height: 80px;
  display: flex;
}

.header a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  height: 80px;
  margin-left: 34px;
}
.action {
  margin-left: 20px;
}

.select {
  margin: 35px 5px;
  background-color: rgb(107, 190, 121);
  border: 0px;
}

/* main =============================== */

.main {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 40px;
}

.left-side {
  width: 400px;
}

.right-side {
  width: 600px;
}

.form-item {
  display: flex;
  justify-content: space-between;

  padding: 4px;
  margin-bottom: 20px;
}

.form-item.required label::after {
  content: "*";
  color: red;
}

.textarea_first {
  resize: none;
}
.form-item-right {
  display: flex;
  flex-direction: column;
}

.first {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  margin-bottom: 30px;
}
.form-right {
  padding-left: 40px;
}

.form-right-set {
  padding-left: 44.5px;
}

.area {
  padding-left: 50px;
}

.form-area {
  display: flex;
  margin-top: 30px;
}

.area-set {
  margin-left: 229px;
}

.select_set {
  width: 177px;
}

/*footer =======
======================================*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 40px;
  background-color: rgb(216, 208, 208);
}

.submit_but {
  background-color: rgb(107, 190, 121);
  border: 1px solid grey;
  padding: 5px 10px;
  margin-right: 10px;
  color: white;
}

.reset_but {
  background-color: rgb(107, 190, 121);
  border: 1px solid grey;
  padding: 5px 10px;
  color: white;
}
